@model KrkaWeb.Models.DeliveryInfoModel
<div class="text-center-box">
    <h1 class="new-text-style">Nova Dostava</h1>
</div>
@using (Html.BeginForm("AddDelivery", "Home", FormMethod.Post))
{
    <div class="login-box" id="part_1">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <p class="field-validation-error" id="ferr"></p><br />

   
             
        @Html.TextBoxFor(a => a.number, new { placeholder = "Številka dostave", id = "deliveryNumber", @class = "new-form-input" })<br />
        @Html.ValidationMessageFor(a => a.number)<br /><br />
        @*Html.TextBoxFor(a => a.date, new { @type = "date", id = "datePicker", @class = "new-form-input" })
        @Html.ValidationMessageFor(a => a.date)<br /><br />
        @Html.TextBoxFor(a => a.place, new { placeholder = "Točka dostave", @class = "new-form-input" })
        @Html.ValidationMessageFor(a => a.place)<br /><br />*@
        <br /><button type="button" class="login-button" onclick="on_part_1_ok()">OK</button>
    </div>
    <div class="login-box" id="part_2" hidden>
        <select id="datumi" name="date" onchange="on_date_changed()">
            @for (int i=0; i<7; i++)
            {
                <option value="@i">@Globals.GetSlovenianDate(i)</option>
            }
        </select>
        <br />
        <p class="field-validation-error" id="err_chk"></p>
        <div id="point_select">
            <input type="radio" class="new-radio-style" id="plac1" name="place" value="1" />
            <label for="plac1">Točka 1</label><br />
            <input type="radio" class="new-radio-style" id="plac2" name="place" value="2" />
            <label for="plac2">Točka 2</label><br />
            <input type="radio" class="new-radio-style" id="plac3" name="place" value="3" />
            <label for="plac3">Točka 3</label><br />
            <input type="radio" class="new-radio-style" id="plac4" name="place" value="4" />
            <label for="plac4">Točka 4</label><br />
            <input type="radio" class="new-radio-style" id="plac5" name="place" value="5" />
            <label for="plac5">Točka 5</label><br />
            <br />
        </div>
        <input type="submit" class="login-button" id="submitButton" value="Dodaj" disabled/><br />
        <br /><button type="button" class="login-button" onclick="on_part_2_back()">Nazaj</button>
    </div> 

}
<script>
    var all_disabled = false;
    function on_submit_check() {
        var erc = document.getElementById("err_chk");
        var ferc = document.getElementById("ferr");
        var dn = document.getElementById("deliveryNumber").value;
        if (dn < 0) {
            ferc.innerText = "Številka dostave mora biti pozitivna!";
            on_part_2_back();
        }
        for (var i = 1; i <= 5; i++) {
            var doc = document.getElementById("plac" + i);
            if (doc.checked && doc.disabled) {
                erc.innerText = "Izberite veljavno točko dostave.";
                return false;
            }
        }
    }
    function on_part_1_ok() {
        var num = document.getElementById("deliveryNumber").value;
        check_delivery_number(num);
    }
    function on_part_2_back() {
        document.getElementById("submitButton").disabled = true;
        document.getElementById("part_1").hidden = false;
        document.getElementById("part_2").hidden = true;
    }
    var json_needed;
    var is_dn_ok;
    function get_json(del_num, del_day) {
        url = "/Home/DateCheck?day_number=" + del_day + "&delivery_number=" + del_num;
        var xhr = new XMLHttpRequest();
        xhr.open('GET', url, true);
        xhr.responseType = 'text';
        xhr.onload = function() {
            var status = xhr.status;
            if (status === 200) {
                json_needed = xhr.response;
            } else {
                json_needed = "[false, false, false, false, false]";
            }

            var _json = JSON.parse(json_needed);
            var disb = 0;
            var js = "";
            for (var i = 1; i <= 5; i++) {
                var doc = document.getElementById("plac" + i);
                doc.disabled = !_json[i - 1];
                //js += !_json[i];
                //alert(doc.id + ":" + doc.disabled);
            }
            //alert(js);
            if (disb >= 5) {
                all_disabled = true;
            }
            else {
                all_disabled = false;
            }

        };
        xhr.send();
    };
    function check_delivery_number(del_num) {
        url = "/Home/DeliveryNumberCheck?delivery_number=" + del_num;
        var xhr = new XMLHttpRequest();
        xhr.open('GET', url, true);
        xhr.responseType = 'text';
        xhr.onload = function() {
            var status = xhr.status;
            if (status === 200) {
                is_dn_ok = (xhr.response == "1");
            } else {
                is_dn_ok = false;
            }
            var ferc = document.getElementById("ferr");
            if (!is_dn_ok) {
                ferc.innerText = "Številka dostave je neveljavna, ali pa je že uporabljena!";
            }
            else {
                on_date_changed();
                document.getElementById("part_1").hidden = true;
                document.getElementById("part_2").hidden = false;
                document.getElementById("submitButton").disabled = false;
            }
        };
        xhr.send();
    }
    function on_date_changed() {
        var date = document.getElementById("datumi").selectedIndex;
        var del_num = document.getElementById("deliveryNumber").value;
        get_json(del_num, date);
    }
</script>